@font-face {
    font-family: 'Yeseva One';
    src: url('YesevaOne-Regular.woff2') format('woff2'),
        url('YesevaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

